@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto:wght@400;700&display=swap");

@layer base {
	html {
		font-family: "Raleway", "Roboto", system-ui, sans-serif;
	}

	* {
		box-sizing: border-box;
	}
}

@layer components {
	.gradient-background {
		background: linear-gradient(0deg, #64748b, #475569, #334155);
		background-size: 600% 600%;

		animation: gradient-animation 5s ease infinite alternate-reverse;
	}

	.zoom-img {
		background-size: 100% 100%;
		animation: background-zoom 25s ease infinite alternate-reverse;
		animation-delay: 0ms;
	}

	.custom-drop-shadow {
		filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
	}

	.btn {
		transition: ease-out 0.4s;
	}

	.custom-hover {
		@apply bg-white;
		@apply border-slate-200;
		@apply text-slate-800;
	}

	@keyframes gradient-animation {
		0% {
			background-position: 40% 0%;
		}
		50% {
			background-position: 50% 100%;
		}
		100% {
			background-position: 40% 0%;
		}
	}

	@keyframes background-zoom {
		0% {
			background-position: 0% 50%;
			background-size: 100%;
		}
		50% {
			background-position: 50% 50%;
			background-size: 150%;
		}
		100% {
			background-position: 100% 50%;
			background-size: 100%;
		}
	}
}
